Package: com.dicoy.dicoy
Name: DiCoy
Version: 1.0.8
Architecture: iphoneos-arm
Description: System-wide screen mirroring and media injection for camera/microphone feeds.
Maintainer: DiCoy Developer <dev@dicoy.local>
Author: DiCoy Developer <dev@dicoy.local>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, firmware (>= 15.0), com.opa334.libsandy
